click==8.1.7
black==24.1.1
cfgv==3.4.0
click==8.1.7
distlib==0.3.8
docstring-to-markdown==0.13
filelock==3.13.1
flake8==7.0.0
identify==2.5.35
isort==5.13.2
jedi==0.19.1
mccabe==0.7.0
mypy==1.8.0
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==1.26.4
packaging==23.2
parso==0.8.3
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.4.0
pre-commit==3.6.2
prettytable==3.10.0
pycodestyle==2.11.1
pyflakes==3.2.0
pytabix==0.1
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.10.0
PyYAML==6.0.1
typing_extensions==4.9.0
ujson==5.9.0
uniplot==0.12.2
virtualenv==20.25.1
wcwidth==0.2.13
